{% import "macros.html" as macros %}

{% set dataDev = macros::attr(key="data-dev", value=true) %}


<!DOCTYPE html>
<html>
  <head>
    <title>duckchess.org - Free Online Duck Chess Site</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/compiled/site.css"/>

    {% block morecss %} {% endblock morecss %}
  </head>
  <body
  
  {{ dataDev }}
  >

    <navbar> 
      <logo>duckchess.org</logo>
      <links>
      <ul>
      <li><a href="/">Play Online</a></li>
      <li>Watch</li>
      <li>Tournaments</li>
      <li>Play Puzzles</li>
      <li>Donate</li>
      <li><a href="/analysis">Engine Analysis</a></li>
      </ul>
      </links>

      <dash>lichess.org/@/heroku</dash>
    </navbar>


    <main>
    {% block content %} {% endblock content %}
    </main>



    {{
      macros::embed_js_unsafe(js="duckchess24={load:new Promise(r=>document.addEventListener('DOMContentLoaded', r))}")
    }}
    {{ macros::js_module(module="duckchess24") }}
    {% block morejs %} {% endblock morejs %}



  </body>
</html>