{% extends "base.html" %}
{% block morecss %} 
<link rel="stylesheet" href="assets/compiled/hello.css">
{% endblock morecss %}
{% block content %}
<section>
  <feednews>
  <feed>
<p>Hello heroku,
You've analysed 2 games today, 32 this week.</p>
<p>
duckchess.org has analysed 200 games today, 1000 this week.  </p>
<p>Currently 2 people are on the site</p>
  </feed>

  <news>
    <ul>
    <li>duckchess.org has launched.  <date>28 February</date></li>
    <li>March Site Update. <date>28 March</date></li>
    </ul>
  </news>
  </feednews>
</section>


<section>
  <div class="seekactionfooter">
    <footer>
    <a>Donate</a>
    <a>About</a>
    </footer>
    <main>

      <div class="action">
        <button>Play Engine</button>
        <button>Play Online</button>
        <button>Play Friend</button>
      </div>
      <div class="hookoptions">
        <div class="hooks">
          <ul>
            <li> Anonymous vs 3+2 Duck Chess Fischer Random </li>
            <li> heroku vs 7+5 Duck Chess </li>
            <li> Anonymous vs 3+2 Duck Chess Fischer Random </li>
            <li> Anonymous vs 3+2 Duck Chess Fischer Random </li>
            <li> Anonymous vs 3+2 Duck Chess Fischer Random </li>
            <li> Anonymous vs 3+2 Duck Chess Fischer Random </li>
            <li> Anonymous vs 3+2 Duck Chess Fischer Random </li>
            <li> Anonymous vs 3+2 Duck Chess Fischer Random </li>
            <li> Anonymous vs 3+2 Duck Chess Fischer Random </li>
            <li> Anonymous vs 3+2 Duck Chess Fischer Random </li>
            <li> Anonymous vs 3+2 Duck Chess Fischer Random </li>
            <li> Anonymous vs 3+2 Duck Chess Fischer Random </li>
            <li> Anonymous vs 3+2 Duck Chess Fischer Random </li>
            <li> Anonymous vs 3+2 Duck Chess Fischer Random </li>
            <li> Anonymous vs 3+2 Duck Chess Fischer Random </li>
            <li> Anonymous vs 3+2 Duck Chess Fischer Random </li>
          </ul>
        </div>
        <div class="options">
          <select>
            <option>3+2</option>
            <option>5+4</option>
            <option>10</option>
            <option>7+5</option>
          </select>

          <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
            <span class="left">Regular</span>
            <span class="right">Fischer Random</span>
          </label>

          <button>Seek</button>
        </div>
      </div>

    </main>
    <div class="puzzle-wrap">
    <puzzle>
      Duck Puzzle
      White to move
    </puzzle>
    </div>
  </div>
</section>

{% endblock content %}